<mat-sidenav-container class="app-shell">
  <mat-sidenav
    #sidenav
    mode="side"
    [opened]="sidenavOpened"
    (openedChange)="onSidenavChange($event)"
  >
    <mat-nav-list>
      <a mat-list-item href="#">{{ "HOME" | translate }}</a>
      <a mat-list-item href="#">{{ "UNITS" | translate }}</a>
      <a mat-list-item href="#">{{ "SETTINGS" | translate }}</a>
      <mat-divider></mat-divider>
      <h3 mat-subheader>{{ "FACTIONS" | translate }}</h3>
      <ng-container *ngFor="let f of factions">
        <mat-list-item>
          <span
            class="app-shell__faction-color"
            [style.background]="f.color"
          ></span>
          {{ f.name }}
        </mat-list-item>
      </ng-container>
      <mat-divider></mat-divider>
      <h3 mat-subheader>{{ "PROJECTILES_LABEL" | translate }}</h3>
      <div class="app-shell__projectile-legend">
        <span
          class="app-shell__projectile-icon app-shell__projectile-icon--bullet"
        ></span>
        {{ "BULLET" | translate }}<br />
        <span
          class="app-shell__projectile-icon app-shell__projectile-icon--shell"
        ></span>
        {{ "SHELL" | translate }}<br />
        <span
          class="app-shell__projectile-icon app-shell__projectile-icon--missile"
        ></span>
        {{ "MISSILE" | translate }}
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidenav()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>{{ "TITLE" | translate }}</span>
    </mat-toolbar>

    <div class="app-shell__map-wrapper">
      <app-map
        (viewChanged)="onViewChanged($event)"
        (statsChanged)="onStatsChanged($event)"
      ></app-map>
    </div>

    <mat-toolbar color="accent" class="app-shell__footer">
      <span>{{ "LAT" | translate }}: {{ lastLat.toFixed(4) }} </span>
      <mat-divider vertical></mat-divider>
      <span>{{ "LON" | translate }}: {{ lastLng.toFixed(4) }} </span>
      <mat-divider vertical></mat-divider>
      <span>{{ "ZOOM" | translate }}: {{ zoom }}</span>
      <mat-divider vertical></mat-divider>
      <span>{{ "UNITS_LABEL" | translate }}: {{ unitCount }}</span>
      <mat-divider vertical></mat-divider>
      <span>{{ "PLACE" | translate }}: {{ place }}</span>
      <mat-divider vertical></mat-divider>
      <span>{{ "TIME_ZONE" | translate }}: {{ timezone }}</span>
      <mat-divider vertical></mat-divider>
      <span>{{ currentTime }}</span>
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>
